[workspace]
members = [
  "skim",
  "xtask",
]
resolver = "2"
default-members = ["skim"]

[profile.release]
lto = true

[workspace.dependencies]
beef = "0.5.2"
chrono = "0.4.40"
clap = "4.5.41"
clap_complete = "4.5.55"
clap_complete_fig = "4.5.2"
clap_complete_nushell = "4.5.8"
clap_mangen = "0.2.29"
defer-drop = "1.3.0"
derive_builder = "0.20.2"
env_logger = "0.11.6"
indexmap = "2.8.0"
log = "0.4.27"
rand = "0.9.0"
rayon = "1.5.3"
regex = "1.6.0"
shell-quote = "0.7.2"
shlex = "1.1.0"
tempfile = "3.20.0"
time = "0.3.41"
timer = "0.2.0"
unicode-width = "0.2.0"
vte = "0.15.0"
