[package]
name = "skim"
version = "0.15.6"
authors = ["Zhang Jinzhou <lotabout@gmail.com>", "Loric Andre"]
description = "Fuzzy Finder in rust!"
documentation = "https://docs.rs/skim"
homepage = "https://github.com/skim-rs/skim"
repository = "https://github.com/skim-rs/skim"
readme  = "../README.md"
keywords = ["fuzzy", "menu", "util"]
license = "MIT"
edition = "2021"

[lib]
name = "skim"
path = "src/lib.rs"
doctest = false

[[bin]]
name = "sk"
path = "src/bin/main.rs"

[dependencies]
nix = { version = "0.29.0", features = ["fs"] }
atty = { version = "0.2.14", optional = true }
regex = "1.6.0"
lazy_static = "1.4.0"
shlex = { version = "1.1.0", optional = true }
unicode-width = "0.2.0"
log = "0.4.22"
env_logger = { version = "0.11.6", optional = true }
time = "0.3.13"
clap = { version = "4.5.23", optional = true, features = ["cargo", "derive"] }
tuikit = "0.5.0"
vte = "0.13.0"
fuzzy-matcher = "0.3.7"
rayon = "1.5.3"
derive_builder = "0.20.2"
bitflags = "1.3.2"
timer = "0.2.0"
chrono = "0.4.39"
crossbeam = "0.8.2"
beef = "0.5.2" # compact cow
defer-drop = "1.3.0"
indexmap = "2.7.0"
rand = "0.8.5"
which = "7.0.1"
shell-quote = "0.7.1"

[features]
default = ["cli"]
cli = ["dep:clap", "dep:atty", "dep:shlex", "dep:env_logger"]
