name: Build Debian/Redhat packages

on:
  push:
    # Pattern matched against refs/tags
    branches:
      - 'vendored'
    tags:        
      - '*'           # Push events to every tag not containing /
      # Allow manual triggering
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
    - name: Checkout sources
      uses: actions/checkout@v4
    - name: Use latest Rust stable toolchain
      uses: dtolnay/rust-toolchain@stable
    - name: Install cargo-deb
      run: cargo install cargo-deb
    - name: Build package with cargo-deb
      run: cargo deb --install --separate-debug-symbols -- --locked
    - name: Install alien
      run: sudo apt-get install -y alien
    - name: Convert deb to rpm with alien
      working-directory: two_percent/target/debian
      run: sudo alien --to-rpm two_percent_*.deb; pwd
    - name: Upload binaries to release
      uses: softprops/action-gh-release@v4
      if: ${{startsWith(github.ref, 'refs/tags/') }}
      with:
          files: two_percent/target/debian/two_percent*.*
    - name: Upload both build artifacts to GH action
      uses: actions/upload-artifact@v3.1.0
      with:
        name: cargo-deb-upload
        path: two_percent/target/debian/two_percent*.*

  # publish:
  #   runs-on: ubuntu-20.04
  #   steps:
  #   - name: Checkout sources
  #     uses: actions/checkout@v3
  #   - name: cargo publish
  #     env:
  #       CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
  #     run: cargo login "$CARGO_REGISTRY_TOKEN" && cargo publish --token "$CARGO_REGISTRY_TOKEN"

